{% extends 'base.html' %}

{% block content %}
<p>Listy Zadań</p>

<ul>
    <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nazwa</th>
      <th>Kategoria</th>
      <th>Opis</th>
      <th>Status</th>
      <th>Data utworzenia</th>
      <th>Deadline</th>
        <th>DONE</th>
    </tr>
  </thead>
  <tbody>
  {% for todo in object_list %}
    <tr>
      <th scope="row">{{todo.id}}</th>
      <td>{{todo.name}}</td>
      <td>{{todo.category.name}}</td>
      <td>{{todo.description}}</td>
        <td>{% if todo.status == "TD" %}Do zrobienia{% else %}Gotowe!{% endif %}</td>
        <td>{{todo.date_created}}</td>
        <td>{{todo.date_deadline}}</td>
        <td>
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="gotowe" value={{todo.pk}}>Gotowe</button>
            </form>
        </td>
    </tr>
      {{ todo.condi }}
  {% endfor %}
  </tbody>
</table>

</ul>

{% endblock %}
