{% extends 'base.html' %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Add</button>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categorys_list %}
            <tr>
                <td>{{ category }}</td>
                <td>
                    <a href="{% url "todo:categories_delete" category.pk %}">X</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
