<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User form</title>
</head>
<body>
<p>Our original string variable is <b>{{ our_variable}}</b></p>
<p>Our original integer variable is <b>{{ our_integer }}</b></p>
{{ our_variable|capfirst }}

{% if our_integer > 10 %}
    <p>I am bigger than 10! - said {{our_integer }}</p>
{% else %}
    <p>I am smaller than 10... boo hoo, said {{ our_integer }}</p>
{% endif %}

<p>Adding a hundred to our_integer</p>
<p>{{ our_integer|add:'0.10222' }}</p>
<p>{{ our_integer|add:'-2' }}</p>

{{ our_form }}

{% autoescape off %}
    {{ our_form }}
{% endautoescape %}

</body>
</html>